@model SacramentMeetingPlanner.Models.ViewModels.SacramentMeetingPlannerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Program</h1>
<hr />
<div>
    <form asp-action="Create" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md ">
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.Date" class="control-label"></label>
                <input asp-for="SacramentMeetingProgram.Date" class="form-control" />
                <span asp-validation-for="SacramentMeetingProgram.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.ConductingLeader" class="control-label"></label>
                <input asp-for="SacramentMeetingProgram.ConductingLeader" class="form-control" />
                <span asp-validation-for="SacramentMeetingProgram.ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.OpeningPrayer" class="control-label"></label>
                <input asp-for="SacramentMeetingProgram.OpeningPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeetingProgram.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.ClosingPrayer" class="control-label"></label>
                <input asp-for="SacramentMeetingProgram.ClosingPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeetingProgram.ClosingPrayer" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.OpeningHymnID" class="control-label"></label>
                <select asp-for="SacramentMeetingProgram.OpeningHymnID" class="form-control" asp-items="ViewBag.OpeningHymnID">
                    <option value="">-- Choose One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.SacramentHymnID" class="control-label"></label>
                <select asp-for="SacramentMeetingProgram.SacramentHymnID" class="form-control" asp-items="ViewBag.SacramentHymnID">
                    <option value="">-- Choose One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.IntermediateHymnID" class="control-label">Intermediate Hymn (optional)</label>
                <select asp-for="SacramentMeetingProgram.IntermediateHymnID" class="form-control" asp-items="ViewBag.IntermediateHymnID">
                    <option value="">-- Choose One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeetingProgram.ClosingHymnID" class="control-label"></label>
                <select asp-for="SacramentMeetingProgram.ClosingHymnID" class="form-control" asp-items="ViewBag.ClosingHymnID">
                    <option value="">-- Choose One --</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <div id="SpeakersDiv" class="form-group">
                <div class="col-md-12"><a class="btn btn-secondary" id="AddSpeakerBtn">Add Speaker <i class="fa fa-plus"></i></a></div>
                <div class="row">
                    @* <div class="col-md-12">
                    <label asp-for="Speakers[0].Name" class="control-label"></label>
                    <input type="text" class="form-text" asp-for="Speakers[0].Name" />
                    </div>
                    <div class="col-md-12">
                    <label asp-for="Speakers[0].Topic" class="control-label"></label>
                    <input type="text" class="form-text" asp-for="Speakers[0].Topic" />
                    </div> *@
                </div>
            </div>


        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-area="" asp-controller="SacramentMeetingPrograms" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
