@model SacramentMeetingPlanner.Models.SacramentMeetingProgram

@{
    ViewData["Title"] = "Delete";
}
<div class="row">
<div class="col"></div>
    <div class="col card text-center m-5" style="width: 400px">
        
        <h3 class="mb-3">Are you sure you want to delete this?</h3>
        <h2>@Html.DisplayFor(model => model.Date)</h2>
        <h5 class="mb-4 mt-3">@Html.DisplayNameFor(model => model.ConductingLeader):  @Html.DisplayFor(model => model.ConductingLeader)</h5>

        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="SacramentMeetingProgramID" />
            <input type="submit" value="Delete" class="btn btn-danger mb-2" style="width: 200px"/>
            <a asp-action="Index" class="btn btn-secondary"style="width: 200px">Cancel</a>
        </form>
    </div>
    <div class="col"></div>
</div>
</div>
