@model SacramentMeetingPlanner.Models.SacramentMeetingProgram

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SacramentMeetingProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SacramentMeetingProgramID" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductingLeader" class="control-label"></label>
                <input asp-for="ConductingLeader" class="form-control" />
                <span asp-validation-for="ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymnID" class="control-label"></label>
                <select asp-for="OpeningHymnID" class="form-control" asp-items="ViewBag.OpeningHymnID"></select>
                <span asp-validation-for="OpeningHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymnID" class="control-label"></label>
                <select asp-for="ClosingHymnID" class="form-control" asp-items="ViewBag.ClosingHymnID"></select>
                <span asp-validation-for="ClosingHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnID" class="control-label"></label>
                <select asp-for="SacramentHymnID" class="form-control" asp-items="ViewBag.SacramentHymnID"></select>
                <span asp-validation-for="SacramentHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateHymnID" class="control-label"></label>
                <select asp-for="IntermediateHymnID" class="form-control" asp-items="ViewBag.IntermediateHymnID"></select>
                <span asp-validation-for="IntermediateHymnID" class="text-danger"></span>
            </div>

            @{
                foreach(Speaker speaker in Model.Speakers)
                 {
                    <div class="col-md-12">
                        <label asp-for="@speaker.Name" class="control-label"></label>
                        <input type="text" class="form-text" asp-for="@speaker.Name" />
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@speaker.Topic" class="control-label"></label>
                        <input type="text" class="form-text" asp-for="@speaker.Topic" />
                    </div> 
                 }
            }
            <div id="SpeakersDiv" class="form-group">
               
                <div class="col-md-12"><a class="btn btn-secondary" id="AddSpeakerBtn">Add Speaker <i class="fa fa-plus"></i></a></div>
                <div class="row">

                  
                </div>
            </div>
            }


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
