html {
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
  border: 0;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 2em;
}

.dots{
    border-bottom: 5px #333 dotted;
}

.program-padding{
    margin-bottom: 10px;
}

.right{
    text-align: right;
}